[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/fpga-interchange-schema"]
	path = third_party/fpga-interchange-schema
	url = https://github.com/chipsalliance/fpga-interchange-schema.git
[submodule "third_party/RapidWright"]
	path = third_party/RapidWright
	url = https://github.com/Xilinx/RapidWright.git
[submodule "third_party/xilinx-unisims"]
	path = third_party/xilinx-unisims
	url = https://github.com/SymbiFlow/XilinxUnisimLibrary.git
[submodule "third_party/python-fpga-interchange"]
	path = third_party/python-fpga-interchange
	url = https://github.com/chipsalliance/python-fpga-interchange
[submodule "third_party/litex"]
	path = third_party/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "third_party/litedram"]
	path = third_party/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "third_party/liteeth"]
	path = third_party/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "third_party/liteiclink"]
	path = third_party/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "third_party/migen"]
	path = third_party/migen
	url = https://github.com/m-labs/migen.git
[submodule "third_party/pythondata-software-compiler_rt"]
	path = third_party/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "third_party/litex-boards"]
	path = third_party/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "third_party/nextpnr-fpga-interchange-site-preprocessor"]
	path = third_party/nextpnr-fpga-interchange-site-preprocessor
	url = https://github.com/antmicro/nextpnr-fpga-interchange-site-preprocessor
