psutil
ninja
rapidyaml
fasm
git+https://github.com/SymbiFlow/prjxray.git
git+https://github.com/SymbiFlow/symbiflow-xc-fasm.git
git+https://github.com/capnproto/pycapnp.git
git+https://github.com/SymbiFlow/symbiflow-xc-fasm2bels.git
third_party/python-fpga-interchange
